<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Buscar propiedades" ></ion-input>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">


  <!--  <div *ngFor="let cuentas of cuentas" >
      <app-cuenta [cuentas]="cuentas"></app-cuenta>
    </div>-->
  </div>
</ion-content>