
/// aqui
ion-content {
    --background:  #7b7b83;
//     // #2d2d39
}
.main_content_div {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    ion-label {
        display: block;
    }

    ion-slides {
        margin-bottom: 50px;
    }

    .bold_lbl {
        font-family: 'medium';
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .simple_lbl {
        font-size: 15px;
        color:  #d2d2d6;
        text-align: center;
    }
}

ion-button {
    color: #b6b6c0 !important;
   // margin: 0px;
}