<ion-content>
    <div class="main_content_div">
        
         <div class="logo">
            <img  src="assets/imgs/logo1.png">
         </div>
                
          
      
        <ion-label class="simple_lbl">¡Bienvenido a tu nueva aplicación de gestión inmobiliaria! </ion-label>
          <ion-label class="simple_lbl">Estamos encantados de tenerte a bordo y estamos seguros de que esta plataforma será una herramienta valiosa y util.</ion-label>
        </div>
      
</ion-content>

<ion-footer >
    <ion-toolbar style="--background:  #a6a6a8;" >
        <ion-button expand="block"  (click)="goToLogin()" >
            <ion-label>Comenzar</ion-label>
        </ion-button>
    </ion-toolbar>
</ion-footer>
