<ion-header>
  <ion-toolbar  >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!--FORMULARIO DE PERFIL-->
  <!--por revisar hacia abajo-->
  <div *ngIf="!uid.length" class="main_content_div">

    <ion-label class="bold_lbl">Bienvenido</ion-label>
    <ion-label class="small_lbl">Ingresa tus datos</ion-label> 

      <ion-input *ngIf="ingresarEnable" [(ngModel)]="cliente.nombre"  placeholder="Nombre" type="text"><ion-icon name="person-circle"></ion-icon></ion-input>
      <ion-input [(ngModel)]="cliente.email" placeholder="mail" type="text"> <ion-icon name="mail"></ion-icon></ion-input>
      <ion-input [(ngModel)]="cliente.password" placeholder="Contraseña" type="text" ><ion-icon name="key"></ion-icon> </ion-input>
      <ion-input *ngIf="ingresarEnable" [(ngModel)]="cliente.confirmacion" placeholder="Confirmar Contraseña" type="text" ><ion-icon name="key"></ion-icon></ion-input>
     
     
      <ion-button  *ngIf="ingresarEnable"  (click)="registrarse()"  expand="block" >registrar</ion-button> 
      <ion-label  *ngIf="ingresarEnable" class="small_lbl">¿Ya tienes una cuenta?</ion-label> 
      <ion-button  *ngIf="ingresarEnable"  (click)="ingresarEnable = false" expand="block" >Iniciar</ion-button>
   
    <ion-button  *ngIf="!ingresarEnable" (click)="ingresar()"  expand="block" >Iniciar</ion-button>
    <ion-label  *ngIf="!ingresarEnable" class="small_lbl">¿no tienes una cuenta aun?</ion-label> 
    <ion-button  *ngIf="!ingresarEnable" (click)="ingresarEnable = true" expand="block" >Registrate</ion-button>
    


</div>
<!--por revisar hacia arriba-->
  <div *ngIf="uid.length" class="main_content_div">
    <div> 
          <div class="imgUser"> <img [src]="cliente.foto"></div>
          <ion-label class="small_lbl">Nombre: {{cliente.nombre}}</ion-label>
          <ion-label class="small_lbl">Correo: {{cliente.email}}</ion-label>
          <ion-label class="small_lbl" >Editar Foto</ion-label>
               <ion-buttons>
               <ion-button>
                 <label for="file-upload"><ion-icon slot="icon-only" name="images-outline"></ion-icon></label>
                 <input (change)="newImageUpload($event)" id="file-upload"  type="file"  accept="image/*">
              </ion-button>
            </ion-buttons>
 

        
       
     
       <ion-button (click)="guardarUser()" expand="block">guardar</ion-button>
   
       <ion-button  (click)="salir()" expand="block">Cerrar cesion</ion-button>

  </div>
</div>
</ion-content>
