<ion-header>
  <ion-toolbar style="--background:   #8e8e94;" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!--FORMULARIO DE PERFIL-->
  <!--por revisar hacia abajo-->
  <div *ngIf="!uid.length" class="main_content_div">

   
      <ion-input *ngIf="ingresarEnable" [(ngModel)]="cliente.nombre"  placeholder="Nombre" type="text"><ion-icon name="person-circle"></ion-icon></ion-input>
      <ion-input [(ngModel)]="cliente.email" placeholder="mail" type="text"> <ion-icon name="mail"></ion-icon></ion-input>
      <ion-input [(ngModel)]="cliente.password" placeholder="Contraseña" type="text" ><ion-icon name="key"></ion-icon> </ion-input>
      <ion-input *ngIf="ingresarEnable" [(ngModel)]="cliente.confirmacion" placeholder="Confirmar Contraseña" type="text" ><ion-icon name="key"></ion-icon></ion-input>

    <ion-button  *ngIf="ingresarEnable"  (click)="ingresarEnable = false" expand="block" >Iniciar</ion-button>
    <ion-button  *ngIf="ingresarEnable"  (click)="registrarse()"  expand="block" >registrar</ion-button> 
    <ion-button  *ngIf="!ingresarEnable" (click)="ingresar()"  expand="block" >Iniciar</ion-button>
    <ion-button  *ngIf="!ingresarEnable" (click)="ingresarEnable = true" expand="block" >o registrar</ion-button>
    


</div>
<!--por revisar hacia arriba-->
  <div *ngIf="uid.length">
    <div> 
      <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="cliente.nombre"  placeholder="Nombre" type="text" inputmode="text"></ion-input>
        </ion-item>    
        <ion-item>
          <ion-label position="floating">Correo: {{cliente.email}}</ion-label>
          <ion-input [(ngModel)]="cliente.email"  placeholder="ejemplo@mail.cl" type="text"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label >
            Foto
          </ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <label for="file-upload">
              <ion-icon slot="icon-only" name="images-outline"></ion-icon>
            </label>
            <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
          </ion-button>
         </ion-buttons>
       </ion-item>
       <ion-item>
        <img [src]="cliente.foto">
       </ion-item>

  <ion-button (click)="guardarUser()" color="secondary" expand="block" shape="round" >guardar</ion-button>
    <ion-item>
      <ion-button slot="end" (click)="salir()">
     <ion-icon name="close"></ion-icon>
  </ion-button>
</ion-item>
  </div>
</div>
</ion-content>
