<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Soporte</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>

      <ion-button (click)="bntNuevo()" color="secondary">
        <ion-label>Nuevo</ion-label>
        <ion-icon name="add"></ion-icon>
      </ion-button>

    </ion-card-header>

  </ion-card>

</ion-content>
