.soporte-card {
  --ion-background-color: #;
  --ion-border-color: #ecedf8;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

ion-spinner {
  margin-right: 8px;
}