<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Buscar propiedades">
      <ion-icon name="search"></ion-icon>
    </ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="goPerfil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--contenedor estandar-->
<ion-content> 
<!--este div contiene todo -->
  <div class="main_content_div"> 
  <ion-card style="--background:  #808081; max-width: 800px; margin: auto;" >
        <!--CABECERA -->
        <ion-card-header>
        <!--btn agregrar  -->
       <ion-button *ngIf="enablelista" (click)="bntNuevo()" >
        <ion-label>Nuevo</ion-label>
        <ion-icon name="add"></ion-icon>
       </ion-button>
         <!--btn cancelar -->
       <ion-button *ngIf="!enablelista" (click)="enableNewPropiedad = false " (click)="enablelista = true" >
         <ion-label>cancelar</ion-label>
         <ion-icon name="close"></ion-icon>
       </ion-button>
        </ion-card-header>
                <!--contenedor de agregar-->
        <ion-card-content *ngIf="enableNewPropiedad"> 
          <ion-item>
            <ion-col size="auto"><ion-label  >Id Propiedad</ion-label></ion-col>
             <ion-col>
                <ion-input [(ngModel)]="newPropiedad.id_propiedad"  placeholder="PROD0001" name="ID" type="text" inputmode="text"></ion-input>
             </ion-col> 
             </ion-item>
          <ion-item>
            <ion-label >Comuna</ion-label>
            <ion-select  [(ngModel)]="newPropiedad.comuna" label="Popover" interface="popover">
              <ion-select-option value="Santiago">Santiago</ion-select-option>
              <ion-select-option value="Huechuraba">Huechuraba</ion-select-option>
              <ion-select-option value="Independencia">Independencia</ion-select-option>
              <ion-select-option value="Quilicura">Quilicura</ion-select-option>
              <ion-select-option value="Recoleta">Recoleta</ion-select-option>
              <ion-select-option value="Renca">Renca</ion-select-option>
              <ion-select-option value="Quinta Normal">Quinta Normal</ion-select-option>
              <ion-select-option value="Las Condes">Las Condes</ion-select-option>
              <ion-select-option value="Lo Barnechea">Lo Barnechea</ion-select-option>
              <ion-select-option value="Providencia">Providencia</ion-select-option>
              <ion-select-option value="Vitacura">Vitacura</ion-select-option>
              <ion-select-option value="La Reina">La Reina</ion-select-option>
              <ion-select-option value="Macul">Macul</ion-select-option>
              <ion-select-option value="Conchalí">Conchalí</ion-select-option>
            </ion-select>   
          </ion-item>
          <ion-item>
            <ion-col size="auto"><ion-label>Direccion</ion-label></ion-col>
            <ion-col >
            <ion-input [(ngModel)]="newPropiedad.direccion" placeholder="av. ejemplo" type="text" inputmode="text"></ion-input>
          </ion-col>
          </ion-item>
          <ion-item>       
            <ion-label >Tipo</ion-label>
            <ion-select   [(ngModel)]="newPropiedad.tipo"  aria-label="Fruit" interface="popover" placeholder="Casa/Departamento">
              <ion-select-option value="casa">Casa</ion-select-option>
              <ion-select-option value="depto">Departamento</ion-select-option>
            </ion-select>
         </ion-item>
         <ion-item>
            <ion-col size="auto" ><ion-label>numero</ion-label></ion-col>
            <ion-col >
            <ion-input [(ngModel)]="newPropiedad.numero" type="number" ></ion-input>
            </ion-col>
         </ion-item>
          <ion-item>
            <ion-col size="auto"><ion-label  >Referencia</ion-label></ion-col>
             <ion-col>
                <ion-input [(ngModel)]="newPropiedad.referencia"  placeholder="Referencia" name="referencia" type="text" inputmode="text"></ion-input>
             </ion-col> 
             </ion-item> 
          <ion-col>
          <ion-button (click)="guardarPropiedad()"  (click)="enableNewPropiedad = false " (click)="enablelista = true " expand="block" >Guardar</ion-button>
        </ion-col>      
      </ion-card-content>
         <!--listas de propiedades Cascada--> 
         <div  *ngIf="enablelista">
          <ion-card *ngFor="let P of Propiedades" >
          <ion-accordion-group  [multiple]="true" [value]="['first', 'third']" >
            <ion-accordion >
              <ion-item slot="header" >      
              <ion-grid [fixed]="true">

                <ion-row>
                  <ion-col size="auto"><ion-label>{{P.id_propiedad}}</ion-label></ion-col>
                  <ion-col size="auto"><ion-icon name="home"></ion-icon></ion-col>
                  <ion-col size="auto"><ion-label>{{P.tipo}}</ion-label></ion-col>
                  <ion-col size="auto"><ion-label>{{P.numero}},</ion-label></ion-col>
                  <ion-col size="auto"><ion-label>{{P.direccion}},</ion-label></ion-col>
                  <ion-col size="auto"><ion-label>{{P.comuna}}</ion-label></ion-col>
                </ion-row> 
              </ion-grid>
              </ion-item>
              <ion-item  slot="content">
                  <!--detalles de contacto -->
                <ion-grid [fixed]="true">
                  <div >
                    <ion-label class="bold_lbl">Contactos</ion-label>
                  <ion-row  *ngFor="let c of filtroContacto(P.id)"  >     
                          <ion-col size="auto" ><ion-label>{{c.tipoContacto}}</ion-label></ion-col>
                          <ion-col size="auto"> <ion-label> <ion-icon name="person-circle"></ion-icon> {{c.nombre}} {{c.apellidop}} {{c.apellidom}}</ion-label></ion-col>
                          <ion-col size="auto" ><ion-label ><ion-icon name="call"></ion-icon> {{c.telefono}}</ion-label></ion-col> 
                          <ion-button href="https://api.whatsapp.com/send?phone=56{{c.telefono}}&text=" color="success" size="small" style="margin: 5px;">
                            <ion-icon name="logo-whatsapp"></ion-icon>
                            </ion-button> 
                      
          </ion-row>
          <ion-button [routerLink]="['/contacto']" (click)="addContacto(P)" color="secondary" size="small" style="margin: 5px;">
            <ion-icon name="person-add"></ion-icon><ion-label>contacto</ion-label>
            </ion-button>
          </div>
          <div >
           <ion-label class="bold_lbl">Cuentas</ion-label>
          <ion-row *ngFor="let c of filtroCuentaAgua(P.id)" > 
            <ion-col size="auto"><ion-icon name="water"></ion-icon></ion-col>
            <ion-col size="auto"><ion-label>{{c.tipoCuenta}},</ion-label></ion-col>
            <ion-col size="auto"><ion-label>{{c.empresa}}</ion-label></ion-col>
          </ion-row>
          <ion-row *ngFor="let c of filtroCuentaLuz(P.id)" >
            <ion-col size="auto"><ion-icon name="flash"></ion-icon></ion-col>
            <ion-col size="auto"><ion-label>{{c.tipoCuenta}},</ion-label></ion-col>
            <ion-col size="auto"><ion-label>{{c.empresa}}</ion-label></ion-col>
          </ion-row>
          <ion-row *ngFor="let c of filtroCuentaGas(P.id)" >
            <ion-col size="auto"><ion-icon name="flame"></ion-icon></ion-col>
            <ion-col size="auto"><ion-label>{{c.tipoCuenta}},</ion-label></ion-col>
            <ion-col size="auto"><ion-label>{{c.empresa}}</ion-label></ion-col>
          </ion-row>
          <ion-row  *ngFor="let c of filtroCuentaInternet(P.id)">
            <ion-col size="auto"><ion-icon name="globe"></ion-icon></ion-col>
            <ion-col size="auto"><ion-label>{{c.tipoCuenta}},</ion-label></ion-col>
            <ion-col size="auto"><ion-label>{{c.empresa}}</ion-label></ion-col>
          </ion-row>
          <ion-row  *ngFor="let c of filtroCuentaArriendo(P.id)">
            <ion-col size="auto"><ion-icon name="globe"></ion-icon></ion-col>
            <ion-col size="auto"><ion-label>{{c.tipoCuenta}},</ion-label></ion-col>
            <ion-col size="auto"><ion-label>{{c.empresa}}</ion-label></ion-col>
          </ion-row>
          <ion-button [routerLink]="['/cuentas']" (click)="addContacto(P)" color="primary" size="small" style="margin: 5px;">
            <ion-icon name="add-circle-outline"></ion-icon><ion-label>Cuentas</ion-label>
            </ion-button>
        </div>
          <ion-row>
            <ion-col >
           
          
            <ion-button (click)="newPropiedad = P; enableNewPropiedad = true; enablelista = false " color="warning" size="small" style="margin: 5px;">
            <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deletePropiedad(P)" color="danger" size="small" style="margin: 5px;">
            <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
              </ion-item>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card>
         </div>    
      </ion-card>
  </div>
</ion-content>
