<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Propiedad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agrega una propiedad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
   
            <ion-item>
                <ion-label position="floating">Nombre Propiedad</ion-label>
                <ion-input [(ngModel)]="newPropiedad.nombre"  placeholder="casa_ejemplo" type="text" inputmode="text"></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="floating">Direccion</ion-label>
                <ion-input [(ngModel)]="newPropiedad.direccion"  placeholder="av. ejemplo" type="text" inputmode="text"> </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">numero</ion-label>
                <ion-input [(ngModel)]="newPropiedad.numero"  placeholder="av. ejemplo"type="number" inputmode="numeric"> </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">comuna</ion-label>
                <ion-input [(ngModel)]="newPropiedad.comuna"  placeholder="av. ejemplo" type="text" inputmode="text"> </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">contacto</ion-label>
                <ion-input [(ngModel)]="newPropiedad.contacto"  placeholder="av. ejemplo" type="text" inputmode="text"> </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Telefono</ion-label>
                <ion-input [(ngModel)]="newPropiedad.telefono"  placeholder="av. ejemplo" type="number" inputmode="numeric"> </ion-input>
              </ion-item>
   
        <ion-button (click)="guardarPropiedad()" color="secondary" expand="block" shape="round" >Guardar</ion-button>
    <ion-item *ngFor="let P of Propiedades">
      <ion-label>{{P.nombre}}</ion-label>
      <ion-button color="warning" size="small"><ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" size="small"><ion-icon name="trash-outline"></ion-icon></ion-button>
    
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
