<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Buscar propiedades" [(ngModel)]="searchTerm"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="filterProperties()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons (click)="goPerfil()" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <ion-card style="--background:  #DDDDDD; max-width: 800px; margin: auto;">
      <div *ngFor="let propiedad of filteredProperties">
        <app-propiedad [propiedad]="propiedad"></app-propiedad>
      </div>


    </ion-card>
  </div>
</ion-content>
