/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    width: 100%;
    --background:  #a6a6a8;
}



ion-toolbar{
     --background:  #b6b6b9;
      padding: 10px;
}

ion-item{
    --background:  #b6b6b9;
   
}
ion-card{
    --background:  #b6b6b9;
   
}



    ion-label {
        display: block;
    }

    ion-slides {
        margin-bottom: 50px;
    }

    ion-button {
        margin: auto;
        max-width: 300px;
        --background: #b6b6b9;

        color: black;
    } 
    ion-buttons{
        margin: auto;
        max-width: 50px;
        

    
    }   
 

.main_content_div {
    width: 100%;
    padding: 16px;


    .logo{
        margin: auto;
        max-width: 300px;
        align-items: center;
    }
    .bold_lbl {
        font-family: 'medium';
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .simple_lbl {
        font-size: 15px;
        color: white;
        text-align: center;
    }
 
  
    ion-label {
        display: block;
    }

    ion-input {
        margin: auto;
       
        background: rgba(70, 65, 69, 0.3);
        border-radius: 5px;
     //   margin-bottom: 20px;
     //   --padding-start: 8px;
        color: white;

        ion-icon {
            margin-left: 10px;
            color: white;
        }
    }


 
    .bold_lbl {
        font-family: 'semi-bold';
        font-size: 26px;
        text-align: center;
        color: white;
    }

    .small_lbl {
        text-align: center;
        color: white;
        font-size: 14px;
        margin-bottom: 30px;
    }

 

}
