

<ion-header>
  <ion-toolbar color="secondary">
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <ion-card>
    <ion-img src="assets/icon/logo2.png"></ion-img>
    <ion-card-content>
   
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-button color="secondary" [routerLink]="['/login']"   expand="block" shape="round" ><ion-icon slot="start" name="people-outline"></ion-icon>Usuario</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

